---
import Prose from "@whoami/components/Prose.astro";
import Layout from "@whoami/layouts/Layout.astro";
import { getEntry, render } from "astro:content";

const entry = await getEntry("blog", "my-first-post");

if (!entry) {
  throw new Error("Could not find blog post.");
}

const { Content } = await render(entry);
---

<Layout>
  <Prose>
    <Content />
    <div class="bg-nova text-white">
      <p>Some additional content.</p>
    </div>
  </Prose>
</Layout>
