---
interface Props {
  class?: string;
}

const { class: className = "" } = Astro.props;
---

<div
  class:list={[
    "prose",
    "prose-h1:font-bold prose-h1:text-xl",
    "prose-a:text-blue-600 prose-p:text-justify prose-img:rounded-xl",
    "prose-headings:underline text-primary",
    className,
  ]}
>
  <slot />
</div>
